# makes git ignore all the latex junk


procedure/*.aux
procedure/*.log
procedure/*.out
procedure/*.synctex.gz
procedure/*.toc
procedure/*.fls
procedure/*.fdb_latexmk

procedure/figures/
procedure/_minted-procedure/
procedure/img_illustration/

button-bitmap/bitmap.xcf